@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    background-image: url(../img/bg-accueil.jpg);
    background-size: cover;
    background-position-x: 10%;
}

.pict {
    width: 10%;
    margin: 1em 0 0.5em 0;
}

.sectiontitle {
    margin: 0.5em 0 1em 0;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

/* -----MENU----- */

nav {
    background-color: #f1f1f1;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    z-index: 2;
}

.logo {
    width: 180px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img {
    height: 80%;
}

.logo span {
    font-size: 120%;
    color: #079B2D;
}

@media screen and (max-width:700px) {
    .logo {
        height: 50px;
        width: 90px;
    }

    .sectiontitle {
        font-size: 4vw;
    }
}

#menu {
    display: flex;
    width: 60vw;
    height: 100%;
    margin: 0;

}

#menu>li {
    float: left;
    color: #000000;
    width: 25%;
    height: 100%;
    cursor: pointer;
    list-style: none;
    font-size: 0.6em;
    transition: 0.2ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu li a {

    font-size: 3em;
}

#menu li:hover a {

    border-bottom: 2px solid black;
    font-size: 3.1em;
}

.menuopen {

    left: 0 !important;
}

/* 
.sub-menu {
    margin-top: -55px;
}

.sub-menu li {
    font-size: 14px;
    background: #DFDFDF;
    color: black;
    list-style: none;
    text-align: center;
    
} */


/* -BURGER- */

#burger {
    display: none;
    top: 20px;
    left: 20px;
    position: absolute;
    z-index: 4;

}

#burger span {
    position: absolute;
    height: 5px;
    width: 50px;
    border-radius: 5px;
    background-color: #0C9C31;
}

#burger span:nth-child(1) {
    top: 0;
}

#burger span:nth-child(2) {
    top: 15px;
}

#burger span:nth-child(3) {
    top: 30px;
}

.spantopopen {
    -webkit-animation-name: spantopopen;
    animation-name: spantopopen;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.spancenteropen {
    -webkit-animation: spancenteropen;
    animation: spancenteropen;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.spanbotopen {
    -webkit-animation: spanbotopen;
    animation: spanbotopen;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes spantopopen {
    0% {
        top: 0;
    }

    50% {
        top: 15px;
        transform: rotate(0);
        ;
    }

    100% {
        top: 15px;
        transform: rotate(45deg);
    }

}

@keyframes spantopopen {
    0% {
        top: 0;
    }

    50% {
        top: 15px;
        transform: rotate(0);
        ;
    }

    100% {
        top: 15px;
        transform: rotate(45deg);
    }

}

@-webkit-keyframes spancenteropen {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

@keyframes spancenteropen {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

@-webkit-keyframes spanbotopen {
    0% {
        top: 30px;
    }

    50% {
        top: 15px;
        transform: rotate(0);
        ;
    }

    100% {
        top: 15px;
        transform: rotate(-45deg);
    }

}

@keyframes spanbotopen {
    0% {
        top: 30px;
    }

    50% {
        top: 15px;
        transform: rotate(0);
        ;
    }

    100% {
        top: 15px;
        transform: rotate(-45deg);
    }

}

.spantopclose {
    -webkit-animation-name: spantopclose;
    animation-name: spantopclose;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.spancenterclose {
    -webkit-animation: spancenterclose;
    animation: spancenterclose;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.spanbotclose {
    -webkit-animation: spanbotclose;
    animation: spanbotclose;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes spantopclose {
    0% {
        top: 15px;
        transform: rotate(45deg);
    }

    50% {
        top: 15px;
        transform: rotate(0);
        ;
    }

    100% {
        top: 0;
    }

}

@keyframes spantopclose {
    0% {
        top: 15px;
        transform: rotate(45deg);
    }

    50% {
        top: 15px;
        transform: rotate(0);
        ;
    }

    100% {
        top: 0;
    }

}

@-webkit-keyframes spancenterclose {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes spancenterclose {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@-webkit-keyframes spanbotclose {
    0% {
        top: 15px;
        transform: rotate(-45deg);
    }

    50% {
        top: 15px;
        transform: rotate(0);
        ;
    }

    100% {
        top: 30px;
    }

}

@keyframes spanbotclose {
    0% {
        top: 15px;
        transform: rotate(-45deg);
    }

    50% {
        top: 15px;
        transform: rotate(0);
        ;
    }

    100% {
        top: 30px;
    }

}

/* -END BURGER- */

/* -RESPONSIVE- */
@media (max-width:1100px) {

    nav {
        min-width: 100vw;
    }

    #menu li a {
        font-size: 2.5vw;
    }

}

@media (max-width:700px) {
    nav {

        width: 40vw;
        height: 8vh;
        flex-direction: column;

    }

    #menu li {
        width: 100%;
        justify-content: left;
    }

    #menu li a {
        font-size: 2em;
    }

    nav .logo {
        display: none;
    }

    #menu {
        position: absolute;
        flex-direction: column;
        height: 40vh;
        width: 15em;
        background-color: #f1f1f1;
        top: 0;
        left: -20em;
        padding: 3em;
        transition: 1s;
        z-index: 2;
        box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.49);
        -webkit-box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.49);
        -moz-box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.49);
    }

    #burger {
        display: block;
        z-index: 3;
    }

}

/* -END RESPONSIVE- */

/* -----END MENU----- */

/* -----HEADER----- */
header {

    position: relative;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(250, 250, 250, 0.6);
    font-size: 10vw;
    text-align: center;
}


/* -----END HEADER----- */

/* -----PRESENTATION----- */

#presentation {
    margin: 5em 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#presentation p {
    font-size: 1.5em;
    margin: 2em 5em 2em 10vw;
    text-align: justify;
}

@media screen and (max-width:1100px) {

    #presentation {
        margin: 2em 2em 0 8em;
    }

    #presentation p {
        margin: 2em 2vw;
    }
}

@media screen and (max-width:700px) {

    #presentation {
        margin: 1em 1em 1em 15vw;
    }

    #presentation p {
        margin: 2em 1em 0 0;
        font-size: 3vw;

    }

}

/* -----END PRESENTATION----- */

/* -----PRODUCERS----- */

#producers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#producers>div {
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;

}

#producers a img {
    height: 100%;
    width: 100%;
}

#producers a {

    transition: 0.2s;
}

#producers a:hover {
    transform: scale(1.5);
    box-shadow: 10px 10px 31px -7px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 10px 10px 31px -7px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 10px 10px 31px -7px rgba(0, 0, 0, 0.51);
}

#producers a:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
    transform-origin: top left;
}

#producers a:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
    transform-origin: top center;
}

#producers a:nth-child(3) {
    grid-column: 4;
    grid-row: 1/3;
    transform-origin: top right;
}

#producers a:nth-child(4) {
    grid-column: 1;
    grid-row: 2/4;
    transform-origin: bottom left;
}

#producers a:nth-child(5) {
    grid-column: 2/4;
    grid-row: 2;
}

#producers a:nth-child(6) {
    grid-column: 2;
    grid-row: 3;
    transform-origin: bottom;
}

#producers a:nth-child(7) {
    grid-column: 3/5;
    grid-row: 3;
    transform-origin: bottom right;
}

@media screen and (max-width:700px) {

    #producers>div {
        width: 80vw;
        margin-left: 5vw;
    }
}

/* -----END PRODUCERS----- */

/* -----MAP----- */

#map {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.map {
    display: flex;
    margin: 0 10em;
}

.map div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#map .map img {
    width: 100%;
}

.map p {
    width: 50%;
    text-align: center;
}

@media screen and (max-width:1100px) {

    .map {
        margin: 0 2em 0 5em;
    }

    .map p {
        width: 80%;
        text-align: center;
    }

    #map .map img {
        width: 100%;
    }
}

@media screen and (max-width:700px) {

    .map {
        flex-direction: column;

    }

    .map div {
        width: 100%;
    }

    .map h2 {
        font-size: 5vw;
    }

    .map p {
        font-size: 4vw;
    }

    .map img {
        width: 100%;
    }
}


/* -----END MAP----- */

/* -----PRODUCTS----- */

.products {
    height: 100vh;

}

.title-product {
    text-align: center;
}

.slides {
    padding: 0;
    width: 800px;
    height: 500px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input {
    display: none;
}

.slide-container {
    display: block;
}

.slider {
    top: 0;
    opacity: 0;
    width: 800px;
    height: 500px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
    background-image: url(../img/backproduct.png);
    background-size: cover;
    background-position-x: center;
    box-shadow: 10px 10px 55px -10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 10px 55px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 55px -10px rgba(0, 0, 0, 0.5);
}

.slider img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slider:hover+.nav label {
    opacity: 0.5;
}

.nav label:hover {
    opacity: 1;
}

.nav .next {
    right: 0;
}

input:checked+.slide-container .slider {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .nav label {
    display: block;
}

.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked~.nav-dots label#img-dot-1,
input#img-2:checked~.nav-dots label#img-dot-2,
input#img-3:checked~.nav-dots label#img-dot-3,
input#img-4:checked~.nav-dots label#img-dot-4,
input#img-5:checked~.nav-dots label#img-dot-5,
input#img-6:checked~.nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
}

.content {
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
}

.content h3 {
    font-size: 3em;
}

.content h4 {
    font-size: 2em;
}

.content p {
    width: 50%;
    text-align: left;
    margin-left: 10%;
    line-height: 250%;
    font-size: 1.3em;
}

.polaroids {
    position: absolute;
    width: 35%;
    background-color: white;
    padding: 2% 2% 5% 2%;
    text-align: center;
    bottom: 0;
    right: 0;
    transform: rotate(20deg);
    box-shadow: 10px 10px 39px -4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 10px 39px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 39px -4px rgba(0, 0, 0, 0.5);

}

@media screen and (max-width :1100px) {

    .slides {
        padding: 0;
        width: 500px;
        height: 312px;
        display: block;
        margin: 0 auto;
        position: relative;
    }

    .slider {
        width: 500px;
        height: 312px;
    }

    .content p {
        width: 50%;
        text-align: left;
        margin-left: 10%;
        line-height: 250%;
        font-size: 1em;
    }

    .content h3 {
        font-size: 2em;
    }

    .content h4 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 700px) {

    .slides {
        padding: 0;
        width: 300px;
        height: 156px;
        display: block;
        margin: 0 auto;
        position: relative;
    }

    .slider {
        width: 250px;
        height: 156px;
    }

    .content p {
        width: 50%;
        text-align: left;
        margin-left: 10%;
        line-height: 250%;
        font-size: 0.6em;
    }

    .content h3 {
        font-size: 1em;
    }

    .content h4 {
        font-size: 0.8em;
    }
}


/* -----END PRODUCTS----- */

/* -----RECIPES----- */
#i1,
#i2,
#i3,
#i4 {
    display: none;
}

.title-recipes {
    text-align: center;
    margin-top: 6em;
}

.title-recipes img {
    width: 10%;
}

.title-recipes h2 {
    font-size: 4vw;
}

.container {
    margin: 30px auto;
    position: relative;
    width: 50%;
    height: 0;
    padding-bottom: 38%;
    user-select: none;
    background-color: #1c1c1c;
    border-radius: 10px;
}

.container .slide_img {
    position: absolute;
    width: 100%;
    ;
    height: 100%;
}

.container .slide_img img {
    width: inherit;
    height: inherit;
}

.prev,
.next {
    width: 12%;
    height: inherit;
    position: absolute;
    top: 0;
    background-color: rgba(88, 88, 88, .2);
    color: rgba(244, 244, 244, .9);
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

label span {
    position: absolute;
    font-size: 100pt;
    top: 50%;
    transform: translateY(-50%);
}

.prev:hover,
.next:hover {
    transition: .3s;
    background-color: rgba(88, 88, 89, .8);
    color: #ffffff;
}

.container #nav_slide {
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}

#nav_slide .dots {
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .4s;
}

#nav_slide .dots:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    transition: .25s
}

.slide_img {
    z-index: -1;
}

#i1:checked~#one,
#i2:checked~#two,
#i3:checked~#three,
#i4:checked~#four {
    z-index: 9;
    animation: scroll 1s ease-in-out;
}

#i1:checked~#nav_slide #dot1,
#i2:checked~#nav_slide #dot2,
#i3:checked~#nav_slide #dot3,
#i4:checked~#nav_slide #dot4 {
    background-color: rgba(255, 255, 255, .9);
}

@keyframes scroll {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 425px) {
    label span {
        margin-left: -9px;
    }
}

@media screen and (max-width: 685px) {
    .container {
        border: none;
        width: 65%;
        height: 0;
        padding-bottom: 55%;
    }

    label span {
        margin-left: -2px;
        font-size: 50pt;
    }

    .prev,
    .next {
        width: 15%;
    }

    #nav_slide .dots {
        width: 12px;
        height: 12px;
    }
}

@media screen and (min-width: 970px) {
    .me {
        display: none;
    }
}

/* -----END RECIPES----- */

/* -----PARTNERS----- */

#partners {
    display: flex;
    justify-content: center;
}

#partners img:nth-child(1) {
    width: 10%;
    margin: 5%;
}

#partners img:nth-child(2) {
    width: 20%;
    margin: 5%;
}

/* -----END PARTNERS----- */

/* -----FOOTER----- */

footer {
    position: relative;
    background-image: url(../img/fond.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    list-style-type: none;
    color: white;
}

footer>a {
    font-size: 4em;
    position: absolute;
    right: 1em;
    top: -1.1em;

}

footer>a i {
    color: #079B2D;
}

#logofooter {
    width: 30%;
}

footer a {
    text-align: center;
    text-decoration: none;
    color: white;
    height: 20%;

}

footer h2 {
    padding: 1em;
}

footer>div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    text-align: center;
    height: 50%;
    margin: 0 10vw;

}

footer>div>div>ul {
    list-style-type: none;
    padding: 5px;

}

footer>div:nth-child(2)>div:nth-child(1) {
    grid-column: 1;
}

footer>div:nth-child(2)>div:nth-child(2) {
    grid-column: 2;
}

footer>div:nth-child(2)>div:nth-child(3) {
    grid-column: 3;
}

footer>div:nth-child(2)>div:nth-child(4) {
    grid-column: 4;
}

footer>div:nth-child(3) {
    color: #079B2D;
    font-size: 3em;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 30%;
    margin: auto auto;
    padding: 1em;
}

footer>div:nth-child(3)>i {
    margin: 10px;
}

/* -RESPONSIVE FOOTER- */

@media screen and (max-width:1100px) {

    footer>a {
        font-size: 3em;
        position: absolute;
        right: 1em;
        top: -1.1em;

    }

    footer>div:nth-child(2) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    footer>div:nth-child(2)>div {

        margin: 0 auto;

    }

    footer>div:nth-child(2)>div:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    footer>div:nth-child(2)>div:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    footer>div:nth-child(2)>div:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }

    footer>div:nth-child(2)>div:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }

}

@media screen and (max-width:700px) {

    footer>a {
        font-size: 3em;
        position: absolute;
        right: 0.2em;
        top: -1.1em;

    }


    footer>div:nth-child(2) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

    }

    footer>div:nth-child(2) h2 {

        padding: 1em 0 0 0;
    }

    footer>div:nth-child(2)>div:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
        margin: auto auto;
    }

    footer>div:nth-child(2)>div:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    footer>div:nth-child(2)>div:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }

    footer>div:nth-child(2)>div:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
    }

    footer>div:nth-child(3) {
        padding: .2em;
    }

}

/* -----END FOOTER----- */

/* -----producteur1.html-----*/

.producers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    width: 80vw;
    margin: 5em 0 5em 20em;
}

.shadow-pict {
    border-radius: 20px;
    box-shadow: 10px 10px 22px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 22px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 22px -10px rgba(0, 0, 0, 0.75);
}

.producers img {
    max-height: 40vh;
    max-width: 100%;
}

.producers div p {
    text-align: justify;
}

.producers div h2 {
    text-align: center;
}

.producers h2:nth-child(1) {
    grid-column: 2/4;
    grid-row: 1;
}

.producers ul:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2;
}

.producers img:nth-child(3) {
    grid-column: 4/7;
    grid-row: 2;
}

.producers div:nth-child(4) {
    grid-column: 1/6;
    grid-row: 3;
}

.producers img:nth-child(5) {
    grid-column: 2/4;
    grid-row: 4;
}

.producers img:nth-child(6) {
    grid-column: 4/6;
    grid-row: 4;
}

.producers div:nth-child(7) {
    grid-column: 1/6;
    grid-row: 5;
}

.producers div:nth-child(8) {
    grid-column: 1/6;
    grid-row: 6;
}

.producers img:nth-child(9) {
    grid-column: 1/3;
    grid-row: 7;
}

.producers img:nth-child(10) {
    grid-column: 3/5;
    grid-row: 7;
}

.producers img:nth-child(11) {
    grid-column: 5/7;
    grid-row: 7;
}

.producers ul li {

    list-style: none;
    padding: 10px;

}

@media screen and (max-width:1100px) {
    .producers {
        grid-gap: 30px;
        width: 80vw;
        margin: 5em 0 0 8em;
    }
}

@media screen and (max-width:700px) {
    .producers {
        grid-gap: 10px;
        width: 80vw;
        margin: 3em 0 0 20vw;
    }

}

/* -----END producteur1.html-----*/


/************************/
/* SECTION PAGE RECETTE */
/************************/
#title-page {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}

.flex-search {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 450px;
    margin: 150px auto;
}

.wrapper .search-input {
    position: relative;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.582);
    cursor: pointer;
}

.search-input .dropdown {
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.search-input.active .dropdown {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.dropdown li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.search-input.active .dropdown li {
    display: block;
}

.dropdown li:hover {
    background: #efefef;
}

.titlerecipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlerecipe h2 {
    letter-spacing: 2px;
    padding-bottom: 15px;
}

.titlerecipe img {
    width: 70vw;
    text-align: center;
    padding-bottom: 50px;
}

.underpicture {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

.underpicture h3,
p {
    text-align: center;
}

.ingredients {
    background: #E8B071;
    padding-left: 40px;
    padding-right: 40px;
}

.ingredients h3 {
    padding: 20px;
    font-weight: 500;
}

.pictorecipes {
    text-align: center;
}

.list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.list li {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

.list li img {
    height: 70px;
}

.list li p {
    padding-left: 10px;
}

#fish {
    width: 125px;
}

.prep {
    padding: 40px;
}

.prep h3 {
    padding: 20px;
    font-weight: 500;
}

.prep h4 {
    font-weight: 700;
    padding: 5px;
}

.prep p {
    text-align: start;
    padding-bottom: 10px;
}

/* MEDIA QUERIES PAGE RECIPES */
@media screen and (max-width: 2560px) {
    .ingredients h3 {
        margin-left: 245px;
    }

    .ingredients .list {
        margin-left: 240px;
    }

    .prep {
        margin-left: 251px;
    }


}

@media (max-width: 1440px) {
    .underpicture .pictorecipes img {
        width: 100px;
    }


    .ingredients h3 {
        margin-left: 179px;
    }

    .ingredients .list {
        margin-left: 179px;
    }

    .prep {
        margin-left: 179px;
    }
}

@media (max-width: 1024px) {

    .ingredients h3 {
        margin-left: 119px;
    }

    .ingredients .list {
        margin-left: 119px;
    }

    .prep {
        margin-left: 119px;
    }
}

@media (max-width: 780px) {

    #title-page {
        top: 4em;
    }

    .underpicture .pictorecipes img {
        width: 50px;
    }

    .pictorecipes h3,
    p {
        font-size: 10px;
    }

    .list li img {
        height: 40px;
    }

    .flex-search {
        height: 30vh;
        margin-top: -65px;
    }

    .ingredients h3 {
        margin-left: 75px;
    }

    .ingredients .list {
        margin-left: 75px;
    }

    .prep {
        margin-left: 100px;
    }
}

@media (max-width: 425px) {

    #title-page {
        top: 2em;
    }

    .search-input {
        width: 77%;
        margin-left: 20px;
    }

    .ingredients h3 {
        margin-left: 50px;
    }

    .ingredients .list {
        margin-left: 50px;
    }

    .prep {
        margin-left: 50px;
    }

    .titlerecipe h2 {
        margin-left: 64px;
    }

    .titlerecipe img {
        width: 50vw;
        text-align: center;
        padding-bottom: 50px;
    }

    .search-input {
        width: 77%;
        margin-left: 1px;
    }
}

@media (max-width: 320px) {

    .ingredients {
        padding-left: 3px;
    }

    .underpicture {
        padding: 85px;
    }

    .titlerecipe h2 {
        margin-left: 39px;
    }
}

/***********************************/
/***********************************/
/***********************************/

/***********************************/
/**************404*****************/
/**********************************/
.container404 {
    background-image: url("/Hackathon_Groupe_1/assets/img/pesticides.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.error {
    width: 60vw;
    height: auto;
    display: flex;
}

.error div {
    width: 40%;
    height: auto;
}

.error div img {
    width: 100%;
}

.error span {
    width: 30%;
    color: #C0D7DD;
    font-size: 15em;
    font-family: 'Combo', cursive;

}

/***animPanete***/
.error img {

    animation: ani9 0.7s ease-in-out infinite alternate;
}

@keyframes ani9 {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(30px);
    }

}

.con>* {
    position: absolute;
    top: 0;
    left: 0;

}

/* page-ms */
.page-msg {
    transform: translateY(-50px);
    margin-top: 3em;
    font-size: 3em;
    color: #C0D7DD;
}


button.go-back {
    font-size: 30px;
    font-family: 'Combo', cursive;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s linear;
    z-index: 9;
    border-radius: 10px;
    background: #C0D7DD;
    color: #33265C;
    box-shadow: 0 0 10px 0 #C0D7DD;
    margin-top: 20px;
}

button:hover {
    box-shadow: 0 0 20px 0 #6fc1d6;
}

/****media queries****/

@media screen and (max-width:1100px) {

    .error {
        width: 80vw;
    }

}

@media screen and (max-width:700px) {

    .error span {
        font-size: 30vw;
    }

    .container>span {
        font-size: 10vw;
        text-align: center;
    }


}